.header{
    color:white;
}

header{
    background-color: rgba(255, 255, 255, 0.301);
    
    padding: 10px;
    text-align: center;
    
}


ul#li{
    display: inline;
}

body{
    background-image: url('a.jpg');
   

  }

.pic{
      background: url(a.jpg);
      background-size: cover;
      

  }
  

ul {
    list-style-type: none;
    
   
  }
li {
    display: inline;
    margin-right: 250px;
   

  }
.cen{
    text-align: center;
    }

a{
    text-decoration: none;
    color: orchid;
    font-size: x-large;
    font-weight: bolder;
}
.center{
    text-align: center;
    margin-top: 350px;
    color: rgba(238, 226, 226, 0.966);
    font-size: xx-large;
    font-weight: bolder;
}